:root {
  --accent-color: #2196f3;
  --background: #2f303a;
  --second-font: 'Raleway';
}

body {
  font-family: 'Roboto', 'sans-serif';
  color: #212121;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* --------------------------------------------header------------------------------ */

.header-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  line-height: calc (31 / 26);
  letter-spacing: 0.03em;
}

.span-logo {
  color: #212121;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}
.current {
  color: var(--accent-color);
}
.header-link:active,
.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #757575;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* -------------------------------------------hero------------------------------------------------*/
.hero {
  background-color: var(--background);
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* <!---------------------- Секція Наші переваги -------------------------------------> */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* <!------------------------------------- Секція Чим ми займаємося ----------------------> */
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

/* <!----------------------------------- секція наша команда -------------------------> */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-card1,
.team-card2,
.team-card3,
.team-card4 {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.team-profession {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* -----------------------------------------------footer------------------------------------------- */
.footer-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.span-footer-logo {
  color: #ffffff;
}

.footer-googlemap {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer {
  background-color: var(--background);
}
.footer-googlemap {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}
/* ------------------------------------------портфоліо----------------------------------------- */
.Portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.filter1 {
  background-color: var(--accent-color);
}
.Portfolio-button:active,
.Portfolio-button:focus,
.Portfolio-button:hover {
  color: #ffffff;
  background: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.Portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.Portfolio-aftertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
